*{

}
html, body {
  height: 100%;
  margin: 0; /* Ensure no default margin is applied */
}

nav *{
    background-color: lightblue;
}

.profile-container {
    margin-top: 20px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .info-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
  }
  .inbox {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    height: 100%;
  }
.footer-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
  }
.link-container{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  a{
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
}
 
.admin-full-height{
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.row-content {
  flex-grow: 1;
  display: flex; 
}
  